.laundryPic {
  background-image: url("images/storeInfoPic.jpg");
  background-repeat: no-repeat;
  width: 1038px;
  height: 950px;
  background-size: cover;
  background-position: center;
  background-position: bottom;
}

.storeData {
  color: #4e342e;
  padding-top: 200px;
}

.storeInfoNav {
  color: #4e342e;
  font-size: 18px;
}

a {
  color: #4e342e;
}
