body {
  background-image: url("images/landingPagePic.jpg");
}

.businessName {
  text-align: center;
  color: #4e342e;
  padding-top: 145px;
  font-size: 60px;
  font-weight: bolder;
  font-family: serif;
}

a {
  color: #4e342e;
  float: right;
  margin-right: 110px;
}

a.storeInfoLink {
  font-size: 25px;
  font-weight: 900;
}

a:hover {
  background-color: blanchedalmond;
  color: grey;
}

a:active {
  color: bisque;
}
